*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Georgia", "Times New Roman", serif;
  background: #fff;
  color: #000;
}

#root {
  height: 100%;
}

button,
select,
textarea,
input {
  font-family: inherit;
}
